    <header>
      <div class="header-left">
        <a href="#" class="logo">Music Sharing Platform</a>
      </div>
     
    </header>
    <main>
        <h1>This will be filled with the results of artists in a specific genre (handlebars baby)</h1>
    </main>
    <script src="index.js"></script>