    <header>
      <div class="header-left">
        <a href="/" class="logo">Music Sharing Platform</a>
        <nav>
          <ul>
            <li><a href="#">Genres</a></li>
            <li><a href="#">My Posts</a></li>
            <li><a href="#">Make Post</a></li>
            <li><a href="#">Popular Posts</a></li>
          </ul>
        </nav>
      </div>
      <div class="header-right">
        <button class="login-btn">Login</button>
        <button class="signup-btn">Sign Up</button>
      </div>
    </header>
    <main>
      <div class="homepage">
        <h1>Welcome to the Industry Plant Platform</h1>
        <p>Please log in or sign up to start sharing and discovering new music.</p>
        <button class="login-btn">Login</button>
        <button class="signup-btn">Sign Up</button>
      </div>
    </main>