    <header>
      <div class="header-left">
        <a href="#" class="logo">Music Sharing Platform</a>
      </div>
     
    </header>
    <main>
      <div class="landing-page">
        <h1>Post some music</h1>
        <p>Please fill out the form below, and we'll get your music posted ASAP 🤘</p>
        <input type="form" id="artistName" placeholder="Artist">
        <input type="form" id="trackName" placeholder="Track">
        <label for="genres" id="label-for">Choose a genre:</label>
        <select name="" id="genres">
          <option value="Alternative">Alternative</option>
          <option value="Rock">Rock</option>
          <option value="Hip-Hop/Rap">Hip-Hop/Rap</option>
          <option value="Soul/R&B">Soul/R&B</option>
          <option value="Funk">Funk</option>
          <option value="Pop">Pop</option>
          <option value="Country">Country</option>
          <option value="Jazz">Jazz</option>
          <option value="Classical">Classical</option>
          <option value="International">International</option>
          <option value="Blues">Blues</option>
          <option value="Electronic">Electronic</option>
          <option value="Folk">Folk</option>
          <option value="Metal">Metal</option>
          <option value="Reggae">Reggae</option>
          <option value="Disco">Disco</option>
          <option value="Punk">Punk</option>
          <option value="House">House</option>
          <option value="Techno">Techno</option>
          <option value="Indie">Indie</option>
          <option value="Ambient">Ambient</option>
          <option value="Gospel">Gospel</option>
          <option value="Latin">Latin</option>
        </select>
        <button class="btn" id="submit-btn-forms">Submit</button>
      </div>
    </main>
    <script src="index.js"></script>