/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/16_image-asset.jpg");
    background-size: cover;
  }
  
  /* Header styles */
  header {
    background-color: #1C1C1C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 1.5rem;
  }
  
  /* Landing page styles */
  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .landing-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .landing-page p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .landing-page button {
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  /* Login page styles */
  .login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  
  .login-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-page label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .login-page input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid #CCC;
  }
  
  .login-page button {
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  /* Homepage styles */
  .homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  