/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/16_image-asset.jpg");
    background-size: cover;
  }
  
  /* Header styles */
  header {
    background-color: #1C1C1C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 1.5rem;
  }
  
  /* Landing page styles */
  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .landing-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .landing-page p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .landing-page button {
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  /* Login page styles */
  .login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  
  .login-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-page label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .login-page input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid #CCC;
  }
  
  .login-page button {
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  /* Homepage styles */
  .homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

#artistName {
  width: 30vh;
  height: 5vh;
  font-size: 4vh; 
}
#trackName {
  width: 30vh;
  height: 5vh;
  font-size: 4vh;
}

#label-for {
  font-size: 3vh;
}

#genres {
  font-size: 3vh;
}
  
/* Dropdown Button */
.dropbtn {
  background-color: #FFD700;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #FFD700;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}